div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin: 1rem 0;
}

.res {
  border: 1px solid rgba(0, 0, 0, 0.444);
  height: 100px;
  width: 200px;
  text-align: center;
}
